body{
    background-image:url(../images/binary1.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    
    color:white;
    }

header, main, nav, footer{
        text-align: center;
    }

nav a{ /* links within "nav" container */
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;    /* removes underline */
    color:white;
    }
    
nav a:hover { /*pseudo class*/
        border-bottom: 2px white solid;
        font-size: 2.5em; 
        transition: .9s; /* transition effect*/
    }


footer{
    clear:left;
}

#info{
    font-size: 0.7em;
    color: red;
}
#overview{
    text-align: left;
}


ul{
    text-align: left;
}
.typew{
    color:red;
}
#content{
    text-align: center;
}
h1{
    font-family: 'Audiowide', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
#overview1{
    text-align: left;
    padding-right: 300px;
}
#overview2{
    text-align:left;
    padding-left: 200px;
    padding-right: 200px;
}
#norton{
    color:white;
}